* {
	font-family: "Yanone Kaffeesatz", sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
}

:root {
	--shadowDark: #c7c7c7;
	--background: #797575;
	--shadowLight: #f1f1f1;
	--mainColor: #141414;
	--darker: #292929;
	--complete: #212e3b;
	--incomplete: #ffae00;
	--submitter: #472d30;
}

html {
	background-attachment: fixed;
	background-color: #cecece !important;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%239C92AC' fill-opacity='0.19' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");
}

.auths {
	background: var(--shadowLight) !important;
	box-shadow: 14px -14px 27px var(--shadowDark), -14px 14px 27px var(--shadowLight);
	outline: none !important;
	border-color: transparent !important;
	border: none !important;
}

.auths:focus {
	box-shadow: none !important;
}

.auths::placeholder {
	color: var(--darker) !important;
	/* font-family: "Yanone Kaffeesatz", sans-serif; */
}

.help {
	margin-bottom: 9px;
}

a:link,
a:visited {
	font-weight: 600;
	color: #202020;
}

.card {
	margin-top: 1.5rem;
	border-radius: 0px;
	background: linear-gradient(45deg, #f3f3f3, #ffffff);
	box-shadow: 14px -14px 27px #303030, -14px 14px 27px #ffffff;
}

/* ?TODOIST */

.todoist .todos {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 1rem;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 30px;
	margin-top: 20px;
}

.todoist .noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.todoist .todo {
	background: var(--incomplete);
	padding: 1rem;
	text-align: center;
	position: relative;
	cursor: pointer;
	box-shadow: 2px 3px 4px #b1b1b1;
}

.todoist i {
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: rgb(243, 243, 243);
	cursor: pointer;
}

.todoist .legend {
	display: flex;
	justify-content: space-around;
	margin-bottom: 1rem;
}

.todoist .complete-box {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: var(--complete);
}

.todoist .incomplete-box {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: var(--incomplete);
}

.todoist .is-complete {
	background: var(--complete);
	color: #fff;
}

/* ?ADDTDOS */
.addtodo .callname {
	margin-top: 20px;
}

.addtodo .interactive {
	margin-bottom: 10px !important;
}

.addtodo .writer {
	background: #f3f3f3;
	color: var(--darker);
	padding: 18px;
	border: none;
	border-radius: 30px 0px 0px 30px;
	font-weight: 600;
	font-size: 0.8em;
	box-shadow: 10px 4px 4px #bebebe;
}

.addtodo .submitter {
	background: var(--darker);
	color: #fff;
	padding: 18px;
	border: none;
	border-radius: 0px 30px 30px 0px;
	cursor: pointer;
	font-weight: 600;
	box-shadow: 2px 5px 6px #bebebe;
}

/* ?FILTERTODOS */

.filtertodos .filter {
	color: var(--darker) !important;
	margin: 4px;
}
.filtertodos .selector {
	font-family: Arial, Helvetica, sans-serif;
	color: var(--darker) !important;
	background-color: rgb(241, 241, 241);
	border: none;
}

.filtertodos .selector .option {
	color: var(--mainColor);
}

.red-shadow {
	-webkit-box-shadow: inset 0 -5px 0 rgba(255, 86, 74, 0.89);
	box-shadow: inset 0 -5px 0 rgba(255, 86, 74, 0.89);
}
